.nav{
    position: relative;
}

.nav li {
    display: inline;
}

li a:link {
    text-decoration: none;
}

li a:hover {
    background-color: #333;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav a {
    display: inline-block;
    padding: 10px;
    
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 100%;
    list-style: none;
    color: white;
    display: inline-block;
    padding: 10px;}
    .nav {
    font-size: 100%;
    overflow: hidden;
    list-style: none;
    margin: 0;
    text-align: center;
    position: relative;
}


body {
    background:fixed(rgb(22, 22, 22), rgb(255, 255, 255));
    height: 100vh;
    font-family: system-ui;
}

a {
    text-decoration: none;
    color: rgb(13, 2, 53);
}
#bg {
   
    position:fixed;
Z-index:-1;
Right:0;
Bottom:0;
Min-width:100%;
Min-height:100%;
}
.section{
    justify-content: center;
}
body {
    background:fixed(rgb(22, 22, 22), rgb(255, 255, 255));
    height: 100vh;
    font-family: system-ui;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    position: relative;
    width: 95%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header .logo {
    font-size: 30px;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a:hover {
    background: rgb(40, 42, 44);
    color: white;
}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
}
h1  b {
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: larger;
}
* {
  
}
.content {
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: system-ui;
    text-align: center;
    border: rgb(0, 0, 0);
    font: bolder;
    font-size: 24;
}
    
#76 {
    font:italic, rgb(255, 255, 255);
}
.content  .no  {
    -webkit-text-size-adjust: 100%;
  
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
    position: relative;
    color: #ffffff ;
    padding: 0;
    line-height: 1.1;
    font-family: 'Playfair Display', serif !;
    font-size: 3.75rem;
    font-weight: 400;
    width: 668px;
    margin: 91px auto 0;
    pointer-events: initial;
}
.content  .lk{
    font-size: larger;
    font-style: italic;
    flood-color: rgb(255, 255, 255) ;
    font: bolder;
}



