nav {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 0;
    font-size: 300%;
    overflow: hidden;
    list-style: none;
    margin: 0;
    text-align: center;
    position: relative;
}
* {
    color: white;
}


body {
    background:fixed(rgb(22, 22, 22), rgb(255, 255, 255));
    height: 100vh;
    font-family: system-ui;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    position: relative;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    font: bolder;
}

header .logo {
    font-size: 30px;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li a:hover {
    background: rgb(40, 42, 44);
    color: white;
}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
}

.main video {
    object-fit: cover;
    
    
}

#bg {
   
    position:fixed;
Z-index:-1;
Right:0;
Bottom:0;
Min-width:100%;
Min-height:100%;
}

.content {
    color: rgb(0, 0, 0);
    padding: 100px;
    font-family: system-ui;
    text-align: center;
    border: #333;
    font-style: italic;
    
}





.fieldset img #Y {
    top: 10px;
    height: 50px;
}
.fieldset img #MosaicAsset-module{
    top: 10px;
    height: 40;
}
fieldset img #Gateway{
    top: 10px;
    height: 40;
}
fieldset img #MosaicAssetE{
    top: 100px;
    height: 80px;
    width: fit-content;
}
