/* -----------------
fonts
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: black;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  background: linear-gradient(to right, #d7487e, #ea6360);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  color: #d9497e;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 16px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background, color;
}

header nav a:hover {
  background: linear-gradient(to bottom, #d7487e, #ea6360);
  color: #fff;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info .title {
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
  background: linear-gradient(to right, #d7487e, #ea6360);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 360px;
  height: 215px;
  margin-bottom: 30px;
  text-align: center;
  padding: 0;
}

.info .paragraph {
  color: white;
  font-size: 1.2em;
  width: 50%;
  margin-bottom: 40px;
  text-align: center;
}

.info .btn {
  font-size: 1.3em;
  font-weight: 500;
  text-decoration: none;
  background: linear-gradient(to bottom, #d94a7f, #fe9261);
  color: #fff;
  padding: 10px 35px;
  border-radius: 5px;
  transition: 0.3s;
}

.home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 0.2;
}

.content {
  z-index: 10;
  position: relative;
  padding: 90px 100px;
  background: #d94a7f;
}

.content h1{
  color: white;
  font-size: 2.2em;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  transition: 0.3s;
}

.content h1:hover{
  color: #fe9261;
}

.content p {
  color: white;
  font-size: 1em;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.content .image1 {
  margin-bottom: 40px;
  display: block;
  transform: translateX(50px);
  float: right;
  border-radius: 8px;
}

.content2 {
  z-index: 10;
  position: relative;
  padding: 90px 100px;
  background-color: white;
  color: black;
}

.content2 h1 {
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 100%;
  border: none;
  transition: 0.3s;
}

.content2 h1:hover{
  color: #d7487e;
}

.content2 p {
  text-align: center;
  font-size: 1em;
}

.map {
  z-index: 10;
  position: relative;
  padding: 90px 100px;
  background: black;
  color: white;
}

.map h1 {
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: 0.3s;
  transition-property: all;
}

.map h1:hover {
  color: #d7487e;
}

.map .mapbox {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
}

.footer {
  z-index: 10;
  position: absolute;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  padding: 20px 150px;
  margin-top: 15px;
  transition: all 0.5s ease;
}

.footer p:hover {
  color: #d7487e
}

.contact {
  text-align: center;
}

.footer h1 {
  color: white;
}

.contact .social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}

.contact .social a:hover {
  color: #24262b;
  background-color: white;
}
